<% provide(:page_title, 'Home') %>


      
<div class="row">
    	<div class="col-sm-3">
         <div>
         <p class="text-xs-center">Anja</p>
 		 <img src="bird.jpg" class="img-circle" style="margin-left: 35px; margin-bottom: 10px;" height="55" width="55" alt="Avatar" >
         </div>
       </div>
    <div class="col-sm-9">
        <div class="card">
          <p>f</p>
          <p><%= @status.id%></p>
        </div>
    </div>
</div>     
</div>
